<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手机热卖榜</title>


    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" >

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/bootstrap-table/bootstrap-table.min.css">

    <!--  自定义常用css -->
    <link rel="stylesheet" href="/css/md-common.css">

</head>
<body>

<!--<div class="col-sm-3">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <span class="label label-primary pull-right">今天</span>
            <h5>访客</h5>
        </div>
        <div class="ibox-content">
            <h1 class="no-margins">106,120</h1>
            <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i>
            </div>
            <small>新访客</small>
        </div>
    </div>
</div>-->

<!--<div class="panel panel-danger">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        Panel content
    </div>
</div>-->


    <div id="content" class="col-sm-12 md-context">

    </div>
    <div class="col-sm-12">
        <div id="toolbar"></div>
        <table id="table"></table>
    </div>



</body>

<script src="/jquery-3.4.1/jquery-3.4.1.min.js"></script>

<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="/bootstrap-table/bootstrap-table.min.js"></script>
<!-- Latest compiled and minified Locales -->
<script src="/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>


<script src="/js/jd/phoneHotSale.js"></script>
</html>